---
import BaseLayout from '../layouts/BaseLayout.astro';
import Talk from '../components/Talk.astro';

import talks from '../content/talks.json';

const pageTitle = "Clara's Blog | Talks";
---

<BaseLayout title={pageTitle}>
  <main>
    {talks.filter((talk) => !talk.draft).map((talk) => <Talk title={talk.title} description={talk.description} slides={talk.slides} date={talk.date} url={talk.url} />)}
  </main>
</BaseLayout>
